@model List<HallOfFame_dotnet.Models.Album>

<div class="fluid-container">
    @foreach (var album in Model)
    {
        <div class="album">
            <div class="form-group">
                @Html.LabelFor(item => album.Artist)
                @Html.DisplayFor(item => album.Artist)
            </div>
            <div class="form-group">
                @Html.LabelFor(item => album.Name)
                @Html.DisplayFor(item => album.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(item => album.Year)
                @Html.DisplayFor(item => album.Year)
            </div>
            <a class="fancyBox" rel="group" href="@album.Image"><img class="small" src="@album.Image" /></a>

            <div class="menu">
                @using (Html.BeginForm("Index", "Album", new { artist = album.Artist, albumName = album.Name }))
                {
                    <button type="submit" value="moreInformation" class="btn btn-info"><span class="glyphicon glyphicon-th-list"></span></button>
                }
                @using (Html.BeginForm("Remove", "Album", new { artist = album.Artist, albumName = album.Name }))
                {
                    <button type="submit" value="removeAlbum" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                }
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript" src="/Scripts/mainPage.js"></script>
}

