@model List<HallOfFame_dotnet.Models.Album>


@foreach (var album in Model)
{
    <div class="album" data-id="@album.ID">
        <div class="form-group">
            @Html.LabelFor(item => album.Artist)
            @Html.DisplayFor(item => album.Artist)
        </div>
        <div class="form-group">
            @Html.LabelFor(item => album.Name)
            @Html.DisplayFor(item => album.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(item => album.Year)
            @Html.DisplayFor(item => album.Year)
        </div>
        <a class="fancyBox" rel="group" href="@album.Image"><img class="small" src="@album.Image" /></a>

        <div class="menu">
            @using (Html.BeginForm("Index", "Album", new { artist = album.Artist, albumName = album.Name }))
            {
                <button type="submit" value="moreInformation" class="btn btn-info left"><span class="glyphicon glyphicon-th-list"></span></button>
            }
           
            @using (Ajax.BeginForm("Remove", "Album", new AjaxOptions
                                         {
                                             Url = Url.Action("Remove", "Album"),
                                             OnSuccess = "OnSuccessRemoveAlbum",
                                             HttpMethod = "POST"
                                         }))
            {
                <input type="hidden" name="id" value="@album.ID" />
                <button type="submit" id="btnRemoveAlbum" class="btn btn-danger right"><span class="glyphicon glyphicon-remove"></span></button>
            }
            
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript" src="/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/Scripts/mainPage.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
}

