@model List<HallOfFame_dotnet.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hall of Fame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/Content/reset.css">
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/jquery.fancybox.css" type="text/css" media="screen" />
</head>
<body>
    <header>
        <h1>Hall of Fame</h1>
        <h2>
            Здесь я буду выкладывать описания альбомов, которые понравились мне больше всего
        </h2>
    </header>
    <main>
        <div class="main">
            @foreach (var album in Model)
            {
                <div class="album">
                    <p>Artist: @album.Artist</p>
                    <p>Album name: @album.Name</p>
                    <p>Year: @album.Year</p>
                    <a class="fancyBox" rel="group" href="@album.Image"><img src="@album.Image"/></a>
                </div>
            }
        </div>
    </main>
    <footer></footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/Scripts/app.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.fancybox.pack.js"></script>
</body>
</html>