@model HallOfFame_dotnet.Models.Track

<tr>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Number, new { @class = "form-control" })
        </div>
    </td>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        </div>
    </td>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Duration, new { @class = "form-control" })
        </div>
    </td>
</tr>
 


    @*<div class="editor-label">
            @Html.LabelFor(t => t.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(t => t.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(t => t.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(t => t.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(t => t.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(t => t.Duration)
        </div>*@


