@using HallOfFame_dotnet.Models
@model Album
@{
    ViewBag.Title = "Add album";
}

@if (Model == null)
{
    using (Html.BeginForm("Create", "Album", FormMethod.Post))
    {
        <div class="editor-label">
            @Html.LabelFor(a => a.Artist)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(a => a.Artist, new { Name = "artistInput" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(a => a.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(a => a.Name, new { Name = "albumNameInput" })
        </div>
        <input type="submit" value="Create album" />
    }
}
else
{
    <p>Check album information:</p>
    <div id="newAlbum">
        @using (Html.BeginForm("Add", "Album", FormMethod.Post))
        {
            @Html.EditorForModel()
            <input type="submit" value="Add album" />
        }
    </div>
}

